p {
     font-family: 'Indie Flower', cursive;
     text-align:center;
}


 #links{
      text-align:center;
    text-decoration: none;
    color:pink;
    font-size:30px;
 }

h2{
    text-align:center;

}

h5{
    text-align:center;
}

body {
     background-image: linear-gradient(180deg,#f5f073, #f5ef62,#f2e91d, #f2e800);
}

.right{
    float:right;
}