body {
background-image: url("giphy.gif");
 background-color:black;
}

#pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  height:100%;
padding-bottom:5%;


}

h1{
    font-family: 'Cinzel', serif;
    color:pink;
    text-align:center;

}

#links{
    text-align:center;
    text-decoration: none;
    color:pink;
    font-size:30px;
}

a {
    color:pink;
}
