#box {
    border:solid 5px;
}

p{
     font-family: 'Indie Flower', cursive;
     font-size:20px;
}

body{
    background-color:#ae6bcf;
}

#pics{
    padding-right:0%;
    padding-left:7%;
}

 #links{
      text-align:center;
    text-decoration: none;
    color:pink;
    font-size:30px;
 }
